<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{_template :: head('cadastrar')}"></head>

<body class="grey lighten-2">
    <nav th:replace="~{_template :: #navbar}"></nav>

    <main class="container">
        <h3>Cadastrar Tarefa</h3>

        <div class="card-panel">
            <form th:action="${'/task'}" method="post" th:object="${task}">
                <div class="input-field col s12">
                    <input type="text" th:field="*{title}" class="validate">
                    <label for="title">Título</label>
                    <span class="helper-text red-text" th:errors="*{title}"></span>
                </div>
                <div class="input-field col s12">
                    <input th:field="*{description}" type="text" class="validate">
                    <label for="description">Descrição</label>
                    <span class="helper-text red-text" th:errors="*{description}"></span>
                </div>
                <label for="score">Pontos</label>
                <p class="range-field">
                    <input type="range" th:field="*{score}" min="1" max="100" />
                    <span class="helper-text red-text" th:errors="*{score}"></span>
                </p>
                <div class="card-actions right-align">
                    <a href="/task">cancelar</a>
                    <button class="btn">salvar</button>
                </div>
            </form>
        </div>

    </main>




</body>

</html>